# Binary files
*.xlsx
*.docx

webapp/flaskTutorial/

*.pyc
webapp/mb-app/__pycache__/

webapp/mb-app/instance/

webapp/mb-app/.pytest_cache/
webapp/mb-app/.coverage
webapp/mb-app/htmlcov/

webapp/mb-app/dist/
webapp/mb-app/build/
*.egg-info/