# Binary files
*.xlsx
*.docx

webapp/flaskTutorial/

*.pyc
webapp/webapp/__pycache__/

webapp/webapp/instance/

webapp/webapp/.pytest_cache/
webapp/webapp/.coverage
webapp/webapp/htmlcov/

webapp/webapp/dist/
webapp/webapp/build/
*.egg-info/
*/pytest_cache/