{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
<center>
<div class="edit-box">  
    <div class="box-top">Edit user</div>
        <table>
            <tr>
                <form method="post">
                    <td><label for="username" class="login-form">Username</label></td>
                    <td><input name="username" id="username" value="{{ user['username']}}" readonly></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" name="password" id="password" required></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Change password">
                    </form>
                </td>
                <td><form action="{{ url_for('auth.delete', id=user['id']) }}" method="post">
                    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                  </form></td>
            </tr>
            
        </table>
</div>
</center>
{% endblock %}