{% extends 'base.html' %}

{% block header %}
<p style="visibility: hidden;">{% block title %}User Management{% endblock %}</p>
{% endblock %}

{% block content %}
<center>
    <table class="user-table">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Action</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user['id']}}</td>
                <td>{{ user['username']}}</td>
                <td><a href="{{ url_for('auth.edit', id=user['id']) }}">Edit</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td><a href="{{ url_for('auth.register') }}">New User</a></td>
        </tr>
    </table>    
</center>
{% endblock %}